EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=614947138489-v9vm4hpvecmubj4nf3k70j36lv6cuqeu.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=614947138489-shigc4c2n613gs88klrb1flvqnhslfmr.apps.googleusercontent.com
EXPO_PUBLIC_FACEBOOK_CLIENT_ID=793220206923089
